.anime-detail {
    display: flex;
    align-items: center;
    margin: 10px;
    font-family: Arial, sans-serif;
    flex-direction: column;
    border: 2px solid #0fc715;
    padding: 10px;
    text-align: justify;
    background-color: hsla(122, 86%, 42%, 0.226);
}

.anime-image img{
    min-width: 150px;
    min-height: 250px;
    border-radius: 10px;
}

.anime-title {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.anime-details {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.detail-label {
    font-weight: bold;
}

.anime-table{
    border-collapse: collapse;
    position: inherit;
}

#desc{
    text-align: justify;
}

.favorite-btn{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 20px;
}